<app-nav-bar></app-nav-bar>
<body>
    <form action="">
        <label for="query">Search Query <input type="text" id="query" name="query" />
        </label>
        <label for="max_price">Max Price <input type="number" id="max_price" name="max_price" /></label>
        <label for="postal_code">Postal Code
            <input type="text" id="postal_code" name="postal_code" />
        </label>
        <label for="radius">Radius (km) <input type="number" id="radius" name="radius" /></label>
        <button type="button" class="btn btn-primary">Submit</button>
    </form>
</body>