@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  color: #12130f;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-div {
  text-align: center;
}

.input-div {
  margin: 5rem 0;
  text-align: right;
  display: flex;
  justify-content: center;
  width: 1000px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px; 
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}
body {
    margin-top: 15rem;
    text-align: center;
}
form {
    display: inline-block;
}